<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>KhuKhuBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/fileServiece.css">
</head>

<body>
    <div class="container">
        <div class="left-sidebar">
            <a href="../html/index.html"><img id="khuCrap" src="../images/khuCrap.png"></a>
            <div class="side-list">
                <div>내 파일</div>
                <div>공유</div>
            </div>
        </div>
        <div class="middle-container">
            <div class="header">
                <h1>쿠쿠박스</h1>
            </div>

            <div class="content">
                <h2>파일리스트</h2>
                <ul>1</ul>
                <hr class="horizon">
                <ul>2</ul>
                <hr class="horizon">
                <ul>3</ul>
                <hr class="horizon">
                <ul>4</ul>
                <hr class="horizon">
                <ul>5</ul>
                <hr class="horizon">
                <ul>6</ul>
                <hr class="horizon">
                <ul>7</ul>
                <hr class="horizon">
                <ul>8</ul>
                <hr class="horizon">
                <ul>9</ul>
                <hr class="horizon">
                <ul>10</ul>
                <hr class="horizon">
                <button class="testBtn">test</button>
            </div>
            <div class="file-control">
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" name="파일 업로드" id="">
                </form>
            </div>
        </div>
    </div>

    <script src="../js/fileServiece.js"></script>
</body>

</html>