<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <div class="page_header">
        <h1> MainPage // User : {{ nickname }}</h1>
        </div>

        <div class="upload_container">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name = "file_upload">Upload</button>
            </form>
        </div>

        {% for file in filelist %}
        <div class="upload_container">
            <form method="post" >
                {% csrf_token %}
                {{ file.File_Name }}
                <input type="hidden" name="file_name" value="{{ file.File_Name }}">
                <button type="submit" name = "file_delete" >delete</button>
                <button type="submit" name = "file_download" >download</button>
            </form>
        </div>
        {% endfor %}

    </body>
</html>