<!doctype html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>KhuKhuBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fileServiece.css' %}">
</head>

<body>
    <div class="container">
        <div class="left-sidebar">
{#            <a href="../html/index.html">#}
            <a><img id="khuCrap" src={% static "images/khuCrap.png" %}></a>
            <div class="side-list">
                <div>내 파일</div>
                <div>공유</div>
            </div>
        </div>
        <div class="middle-container">
            <div class="header">
                <h1>쿠쿠박스</h1>
            </div>
            <div class="content">
                <h2 id="current-dir">KhuKhuBox</h2>
                <table class="c-table">
                    <thead>
                        <tr class="file-property">
                            <th class="fp-type">유형</th>
                            <th class="fp-name">이름</th>
                            <th class="fp-date">날짜</th>
                        </tr>
                    </thead>
                    <tbody class="ct-body">
                    {% for file in filelist %}
                        <tr class="file-property">
                            <th class="fp-type">유형</th>
                            <th class="fp-name">{{ file.File_Name }}</th>
                            <th class="fp-date">{{ file.upload_date }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="file-control">
                <form class="file-form" action="" method="post" enctype="multipart/form-data">
                    <input class="button" type="file" name="file_upload_btn">
                    <progress id="progressBar" max="100" value="0"></progress>
                    <input type="submit" id="submit_btn" value="전송">
                </form>
            </div>
        </div>
    </div>

</body>

</html>