<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhuKhuBox</title>
    <link rel="stylesheet" href="{% static 'css/index-default.css' %}">
</head>
<body>
<div class="total-container">
    <header class="top-banner">
        <div class="sign-up"><a href="register.html">회원가입</a></div>
        <div class="login"><a href="login.html">로그인</a></div>
    </header>
    <div class="content">
        <div class="logo">
            <img src="{% static "images/khuCrap.png" %}"/>
        </div>
        <div class="main-title">쿠쿠박스</div>
    </div>

</div>
</body>
</html>