<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=3.0">
    <title>KhuKhuBox</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="total-container">
        <div class="content">
            <div class="logo">
                <a href="{% url 'home_page' %}"><img src="{% static "images/khuCrap.png" %}" /></a>
            </div>
            <form class="userInfo" action="" method="post">
                {% csrf_token %}
                <div><input id="userid" type="text" name="userId" placeholder="ID"></div>
                <div><input id="userpw" type="password" name="password" placeholder="PW"></div>
                <div><input id="nickname" type="text" name="Nickname" placeholder="Nickname"></div>
                <button type="submit">회원가입</button>
                <div><a href="index.html">돌아가기</a></div>
                <div>{{ message }}</div>
            </form>
        </div>
    </div>
    
</body>

</html>